body{
    padding:50px 0px 0px 0px;
    font-family: 'Open Sans', sans-serif;
    z-index:0;
}

.navbar-dark {
	background:  rgba(0, 0, 0, 0.767);
}


.footer{
    
    position: relative;
    background-color: #0e0e0e;
    opacity: 0.9;
    margin: 0px auto;
    color: white;
    padding: 20px 0px 20px 0px;
  }
.text-center {
    color: white;
    opacity: 0.5;
}

.copyright {
	color:green !important;
}


.main-row{
    margin-top: 10%;
}

.card{
    cursor: pointer;
}

.card img{
    transform: translateY(-50px);
    border-radius: 15px;
    z-index: 1;
    background-color:whitesmoke;
}

.card .card-body{
    text-align:center;
    visibility: hidden ;
    transform: translateY(-150px);
    height: 0px;
    background-color: rgb(233, 213, 241);
}

.card .card-title{
    font-weight: bold;
    color : green;
}





.card:hover .card-body{
    visibility: visible;
    transform: translateY(-50px);
    transition: .5s;
    height: auto;
}

.nouser{
    text-align: center !important;
    border: 2px solid rgb(66, 66, 66);
    background-color:  #CC1F1A;
    opacity: 0.8;
    color: whitesmoke;
    letter-spacing: normal;
    font-size: 16px;
    padding: 10px;
}


.badge{
    background: rgb(31, 143, 146);
    border-radius: 20px;
}