body{
    padding:50px 0px 0px 0px;
    font-family: 'Open Sans', sans-serif;
    z-index:0;
}

.navbar-dark {
	background:  rgba(0, 0, 0, 0.767);
}
/*
.navbar-dark.scrolled{
	background: red !important;
}
*/

.footer{
    
    position: relative;
    background-color: #0e0e0e;
    opacity: 0.9;
    margin: 0px auto;
    color: white;
    padding: 20px 0px 20px 0px;
  }
.icon-bar {
    background-color: white;
    opacity: 0.5;
}

.copyright {
	color:green !important;
}


.badge{
    background: rgb(31, 143, 146);
    border-radius: 20px;
}

.userimage{
    background-color: rgb(241, 241, 241);
    border-radius: 25px  0px  0px 25px;
}

.userdetails{
    background-color: rgb(240, 243, 229);
    border-radius: 0px 25px 25px 0px;

}
.userdetails h3{
    color: red;
}



.nouser{
    text-align: center !important;
    border: 2px solid rgb(66, 66, 66);
    background-color:  #CC1F1A;
    opacity: 0.8;
    color: whitesmoke;
    letter-spacing: normal;
    font-size: 16px;
    padding: 10px;
}